
 * {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
button.learn-more {
    width: 12rem;
    height: auto;
}
button.learn-more .circle {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background:#FF99FF;
    border-radius: 1.625rem;
}
button.learn-more .circle .icon {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
button.learn-more .circle .icon.arrow {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
button.learn-more .button-text {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #FF99FF;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
button:hover .circle {
    width: 100%;
}
button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
}
button:hover .button-text {
    color: #fff;
}


.headericon{
   font-family: "Comic Sans MS", cursive, sans-serif;
   text-align: center;
   color: #009900
}
body {
   font-family: "Comic Sans MS", cursive, sans-serif;
}
.f1{
   font-family: 'Roboto Slab', serif;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
.f2{
   font-family: "Comic Sans MS", cursive, sans-serif;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
.f1:hover{
   list-style-type: none;
   background-color: #FF99CC;
   text-decoration: none;
}
.dropbtn {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
   background-color: #2980B9;
}


.container {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
}
h2 {
   font-size: 26px;
   margin: 20px 0;
   text-align: center;
}
h2 small {
   font-size: 0.5em;
}
.responsive-table li {
   border-radius: 3px;
   padding: 25px 30px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
}
.responsive-table .table-header {font-family: "Comic Sans MS", cursive, sans-serif;
   background-color: #95a5a6;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 0.03em;
}
.responsive-table .table-row {font-family: 'Roboto Slab', serif;
   background-color: #fff;
   box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
   flex-basis: 10%;
}
.responsive-table .col-2 {
   flex-basis: 40%;
}
.responsive-table .col-3 {
   flex-basis: 25%;
}
.responsive-table .col-4 {
   flex-basis: 25%;
}
@media all and (max-width: 767px) {
   .responsive-table .table-header {
       display: none;
  }
   .responsive-table li {
       display: block;
  }
   .responsive-table .col {
       flex-basis: 100%;
  }
   .responsive-table .col {
       display: flex;
       padding: 10px 0;
  }
   .responsive-table .col:before {
       color: #6c7a89;
       padding-right: 10px;
       content: attr(data-label);
       flex-basis: 50%;
       text-align: right;
  }
}

.headericon{
   font-family: "Comic Sans MS", cursive, sans-serif;
   text-align: center;
   color: #009900
}
.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 500px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown a:hover {
   background-color: #ddd;
}

.show {
   display: block;
}

.h3Over{
   font-family: "Comic Sans MS", cursive, sans-serif;
   text-align: center;
}





.bg-gray{
   background-color: gray;
}
.sidebar ul li{
   border: none;
   border-bottom: 1px solid gray;
   font-size: 16px;
   border-radius: 0;
   padding: 0;
}
.sidebar ul li a{
   color: gray;
   display: block;
   padding: 15px 20px;
}
.sidebar ul li a:hover{
   text-decoration: none;
   color: white;
   font-weight: bold;
   background-color: gray;
}


.wrap-content{
   min-height: 400px;
   border-left: 1px solid gray;
   border-bottom: 1px solid gray;
   padding-left: 30px;
}
.wrap-content .page-header{
   font-size: 30px;
   color: gray;
   margin-bottom: 20px;
}
.wrap-content .table thead th {
   vertical-align: bottom;
   border: 0;
   border-bottom: 2px solid #dee2e6;
   font-size: 15px;
   color: gray;
}
.btn-outline-primary {
   color: gray;
   border-color: gray;
}
.page-link{
   color: gray;
}